.registration-form {
    font-family: var(--font-sans-serif);

    legend {
        margin-bottom: 1.6rem;
    }

    .identity,
    .login {
        margin-bottom: 2.4rem;
    }

    .identity input,
    .identity select,
    .email input,
    .username input,
    .password input,
    fieldset .fields,
    .reviewer-interests input {
        margin-bottom: 1.6rem;
        display: block;
        padding: 0.4rem;
        width: 100%;
        max-width: 400px;
    }

    .reviewer-interests {
        margin-top: 1.6rem;
    }

    .password a {
        font-size: 1rem;
    }

    .buttons {

        margin-top: 3.2rem;

        .submit {
            background-color: black;
            color: var(--text-light);
            padding: 0.8rem 2.4rem;
            border: 2px solid var(--gold-secondary)
        }

        .submit:hover {
            background-color: var(--gold-secondary);
        }

        .register,
        .login {
            margin-left: 1.6rem;
        }

    }

}